@model AspNetMVCDemo.Models.Message
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Wish</title>
</head>
<body>
    <h1>@Model.Title, @Model.Name</h1>
</body>
</html>
