body {
    padding-top: 5px;
    font-size:12pt;
    font-family:Verdana;
}

.banner {
    font-size:24pt;
    background-color:blue;
    color:white;
    font-family : Arial;
    font-weight :bold;
    letter-spacing : 5pt;
}


.menu {
    font-size: 14pt;
    font-family: verdana;
    font-weight: bold;
    letter-spacing: 2pt;
}

