
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form method="post">
        Feedback <input type="text" name="feedback" />
        <p/>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
